[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
  shallow = true
	branch = master
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
  shallow = true
	branch = master
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/Microsoft/GSL.git
  shallow = true
	branch = master
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	shallow = true
	branch = master
[submodule "external/eigen-git-mirror"]
	path = external/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
  shallow = true
	branch = master
