language: cpp

dist: trusty

# whitelist
branches:
  only:
    - master
    - travis_ci
    - dev

# Found here https://stackoverflow.com/a/24600210/1741477
# Handle git submodules yourself
git:
    submodules: false
# Use sed to replace the SSH URL with the public URL, then initialize submodules
before_script:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    - git submodule update --init --recursive
    - python -m pip install pytest

matrix:
  include:
#    # works on Precise and Trusty
#    - os: linux
#      addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#          packages:
#            - g++-4.9
#      env:
#         - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"

    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
         - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"

    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"

    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

before_install:
    - eval "${MATRIX_EVAL}"

script:
    - git clone https://github.com/sizmailov/pyxmopp_tests_dataset.git tests_dataset
    - mkdir cmake-build-coverage
    - cd cmake-build-coverage
    - cmake ../ -DCMAKE_BUILD_TYPE=Coverage
    - make -j 2 all
    - cd ..
    - make -C cmake-build-coverage test
    - export PYTHONPATH=cmake-build-coverage
    - python -m pytest pytests

    - mkdir cmake-build-release
    - cd cmake-build-release
    - cmake ../ -DCMAKE_BUILD_TYPE=Release
    - make -j 2 all
    - cd ..
    - make -C cmake-build-release test
    - export PYTHONPATH=cmake-build-release
    - python -m pytest pytests

after_success:
    - python -m pip install gcovr
    - gcovr cmake-build-coverage --root=./ --delete --exclude='external/.*' --exclude='tests/.*' --xml -o coverage.xml
    - bash <(curl -s https://codecov.io/bash)

